@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
* {
  margin: 0;
  padding: 0; }

body, html {
  font-family: 'Lato', sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box; }

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: #fff; }

.container {
  background: #8CAEFE;
  margin: 0 auto;
  height: 100%;
  width: 100%; }

.weatherapp {
  padding-top: 60px;
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .weatherapp {
      padding-top: 5px; } }

.city {
  width: 100%;
  text-align: center;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 30px 0;
  font-size: 21px;
  letter-spacing: 2.92px; }

.icon {
  text-align: center; }

.description {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2.92px; }

.temp {
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 144px;
  letter-spacing: 3.47px; }

.temp:after {
  content: 'Ëš'; }

.button {
  text-align: center;
  padding-top: 5px; }

.switch {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  display: inline-block;
  background: #fff;
  width: 90px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 10px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  border-radius: 20px; }

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 40px;
  width: 45px;
  left: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px); }

.deg {
  font-weight: 300;
  font-size: 25px; }

.right {
  float: right;
  padding-right: 13px;
  padding-top: 5px; }

.left {
  float: left;
  padding-left: 14px;
  padding-top: 5px; }

.yellow:before {
  background: #FFEC78; }

.grey:before {
  background: #D0D2D1; }

.blue:before {
  background: #8CAEFE; }

.error {
  padding: 25px;
  position: relative;
  text-align: center;
  font-weight: 300;
  top: 30%;
  height: 100%; }

.oops {
  font-size: 27px;
  margin-bottom: 5px; }
